body
{   
    font-family: "Poppins", Times, serif;
    
    background-image:linear-gradient(90deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
    width: 100%;
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    
    font-size:20px;
}

input
{
    border:none;
    border-bottom: 2px solid rgb(200, 200, 200, 0.9);
    background-color: rgb(248,237,239);
    width:100%;
    margin-top:5px;
    margin-bottom:5px;
    outline:none; /*Supprime le rectangle de selection*/
    font-size:15px;
    padding-bottom:10px;
    padding-top:10px;
    transition:0.6s;
}

input:focus
{
    border-bottom: 2px solid #ff5c6a;
}

input:focus::-webkit-input-placeholder 
{
    opacity:0; /* Supprime le placeholder */
}

input::-webkit-input-placeholder 
{
    color:black; /* Supprime le placeholder */
}

.title_project
{
    font-weight:bold;
    text-align: center;
}

.title_page
{
    margin-left: 17%;
}

.main_block
{
    margin:10%;
    margin-top:50px;
    background-color: rgb(248,237,239);
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom:50px;
}

.login_form
{
    padding-left:17%;
    padding-right:17%;
}

.submit_button
{
    padding:10px;
    margin-top:30px;
    color:white;
    background-color: #ff5c6a;
    border-style:none;
    border-radius: 20px;
    cursor:pointer;
    border:2px solid #ff5c6a;
    transition:0.6s;
    font-weight:bold;
    box-shadow: 0 5px 30px 0px rgba(255, 75, 90, 0.5);
    text-align:center;
    width:50%;
}

.submit_button:hover
{
    border:2px solid #ff5c6a;
    background-color: white;
    color: #ff5c6a;
}

.label_login
{
    width:100%;
    color:#7d7d7d;
    text-align:center;
    display:flex;
    padding-left: calc(50% - 50px);
}

.submit_block
{
    margin-left:25%;
    width:100%;
}

.oblig
{
    background-color: #ff5c6a;
    border-radius:50%;
    width:8px;
    height:8px;
    margin-left:10px;
    margin-top:11px;
}


/*  ----- MENU page ----- */

#overlay 
{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    cursor: pointer;
}

.overlay_text
{
    position: absolute;
    text-align:center;
    font-size: 30px;
    top: 40%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.overlay_under_text
{
    position: absolute;
    text-align:center;
    font-size: 17px;
    top: 52%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.cross_overlay
{
    color: rgba(255,255,255,0.9);
    font-size: 20px;
    padding: 20px;
    float: right;
}

.page
{
    width:100%;
}

.lateral_menu
{
    width:20%;
    height:542px;
    background-color: rgb(73,73,76);
    color:white;
    position:absolute;
    margin-top:-492px;
    border-radius: 20px 0px 0px 20px;
    min-width: 157px;
    border-right: 10px solid white;
}

.menu_title
{
    font-weight:bold;
    text-align:center;
    margin-top:40px;
}

.button_menu
{
    border: none;
    color: white;
    background-color: rgb(73,73,76);
    font-family: "Poppins", Times, serif;
    border-top: 1px solid rgba(255,255,255,0.1);
    cursor: pointer;
    transition: 0.2s;
    font-size: 18px;
    text-align: left;
    padding-left: 20px;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -40px;
}


.link_button
{
    text-decoration: none;
    cursor:pointer;
}

.link_button:visited
{
    color:white;
}

.button_menu:hover
{
    background-color: rgba(0,0,0,0.2);
    border-left:7px solid #ff5c6a;
}

.menu_select
{
    background-color: #ff5c6a;
    border-left:7px solid white;
}

.button_list
{
    margin-top:50px;
    list-style-type: none;
}

.page
{
    height: 400px;
    width: 71%;
    margin-left: 27%;
    /*background-color: rgba(109,1,124,0.3);*/
}

.info_menu
{
    font-style: italic;
    font-size: 13px;
    padding-left: 20px;
    opacity:0.8;
    position:absolute;
    bottom: 0px;
    line-height:16px;
}

.notif_block
{
    font-size:16px;
    padding:15px;
    background-color: white;
    border-radius: 20px;
    color:rgb(73,73,76);
    margin-top: 15px;
    
    opacity: 1;
    transition: opacity 0.6s;
}

.title_notif
{
    font-weight:bold;
}

@keyframes dring {
    0%   {transform: rotate(25deg);}
    25%  {transform: rotate(-25deg);}
    50%  {transform: rotate(25deg);}
    75%  {transform: rotate(-25deg);}
    100% {transform: rotate(0deg);}
}

.bell_anim
{
    animation-name: dring;
    animation-duration: 0.7s;
}

.bell
{
    border-radius: 50%;
    font-size: 40px;
    padding: 0px 17px 0px 16px;
    color: white;
    background-color: #ff5c6a;
    position: absolute;
    right: 130px;
    top: 110px;
}

.bullet_notif
{
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 7px 0px 6px;
    background-color: rgb(73,73,76);
    position: absolute;
    right: 20px;
    top: 136px;
}

.closebtn
{
    float: right;
    cursor: pointer;
    border-radius: 50%;
    padding: 2px 7px 0px 8px;
    border: 1px solid black;
    background-color: white;
    color: black;
    margin-top: -25px;
    margin-right: -25px;
    transition:0.5s;
}

.closebtn:hover
{
    color:white;
    background-color: rgb(73,73,76);
    border: 1px solid rgb(73,73,76);
}
/* ------ FIND PAGE ------ */
.find_page
{
    margin-left:4%;
    margin-right:4%;
}

.search_bar
{
    background-color:white;
    border-radius: 10px;
    padding-left:15px;
    border:none;
}

.search_bar:focus
{
    border:none;
}

.icon_search
{
    margin-top: 14px;
    margin-left: -36px;
}

/* ----- checkboxs ----- */

/* The container */
.container_check 
{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    margin-top:7px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container_check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius:8px;
    transition: 0.2s;
}

/* On mouse-over, add a grey background color */
.container_check:hover input ~ .checkmark {
    background-color: rgb(217,217,217);
}

/* When the checkbox is checked, add a blue background */
.container_check input:checked ~ .checkmark {
    background-color: #ff5c6a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container_check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container_check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ----- accordion ----- */

.accordion
{
    width:100%;
    font-size:14px;
    border:none;
    background-color: #ff5c6a;
    color:white;
    border-radius: 10px;
    padding:10px;
    margin-top:10px;
    font-weight:bold;
    text-align:left;
    cursor:pointer;
    transition:0.2s;
    
    outline:none;
}

.accordion:hover
{
    background-color:rgb(73,73,76);
}

.accordion:hover + .icon_accordion
{
    animation-name: accordion_anim;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    
}

.icon_accordion
{
    color: white;
    margin-top: 17px;
    margin-left: -27px;
}

.icon_accordion_2
{
    color: white;
    margin-top: 20px;
    margin-left: -22px;
}

@keyframes accordion_anim {
    100% {transform: rotate(180deg);}
}

.panel
{
    background-color: rgba(255,255,255,0.8);
    font-size: 14px;
    padding-right: 10px;
    padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 10px;
    margin-top: -5px;
    border-radius: 0px 0px 10px 10px;
    
    display: none;
    overflow: hidden;
    
}

.menu_accordion
{
    max-height: 340px;
    overflow-y: scroll;
}

.list_accordion
{
    border-bottom: 1px solid grey;
    list-style-type: none;
    padding-bottom: 5px;
    padding-top: 5px;
    transition:0.5s;
}

.list_accordion:hover
{
    background-color: rgba(128,128,128,0.1);
    padding-left: 5px;
}

.icon_module
{
    position: relative;
    right:0px;
    margin-right: 10px;
    margin-top: 5px;
    color:black;
}

.icon_module:hover
{
    color: #ff5c6a;
}

/*  ----- create module page ----- */

.loadbar_container
{
    width: 100%;
    height: 55px;
    padding-top: 20px;
    
    display:flex;
}

.loadbar_round
{
    border-radius:50%;
    background-color: white;
    width: 17px;
    height: 17px;
    border: 3px solid #ff5c6a;
}

.loadbar_line
{
    width: 22%;
    height:3px;
    background-color: #ff5c6a;
    margin-top:10px;
    margin-left: 6px;
}

.loadbar_number
{
    color: #ff5c6a;
    font-weight: bold;
    margin-left: -15px;
    margin-top: -24px;
    font-size: 15px;
}

.unactive_round
{
    border: 3px solid #d6d6d7;
}

.unactive_line
{
    background-color: #d6d6d7;
}

.unactive_text
{
    color: #d6d6d7;
}

.step_name_container
{
    color: #ff5c6a;
    display:flex;
    font-size:12px;
    text-align:center;
    width:100%;
    margin-bottom:-20px;
}

.step_name
{
    width:100%;
}

.oblig_field
{
    color: #ff5c6a;
    font-size: 8px;
    padding-left: 8px;
    padding-bottom: 3px;
}

/* ----- Animation Load bar ------ */

@keyframes round_loadbar 
{
    0%   {opacity: 0.2;}
    100% {opacity: 1;}
}

.play_round_loadbar
{
    animation-name: round_loadbar;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
}

@keyframes line_loadbar 
{
    0%   {background-color: #d6d6d7;}
    100% {background-color: #ff5c6a;}
}

.play_line_loadbar
{
    animation-name: line_loadbar;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

@keyframes text_loadbar 
{
    0%   {color: #d6d6d7;}
    100% {color: #ff5c6a;}
}

.play_text_loadbar
{
    animation-name: text_loadbar;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* ------- END animations ------- */

.input_module_container
{
    border-radius: 18px;
    background-color: white;
    height: 75%;
    margin-left: 8px;
    padding: 20px;
}

.input_create_module
{
    background-color: white;
}

.check_module
{
    margin-top: 18px;
    padding-left: 15px;
    color: #d6d6d7;
}

/* ----- Buttons ----- */

.button_1
{
    box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #ff5c6a;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    color: white;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    transition: 0.2s;
    text-decoration: none;
    border-bottom: 4px solid #ce4a55;
}

.button_1:hover
{
    border-bottom: 0px solid #ce4a55;
    margin-top: 12px;
    padding-bottom: 0px;
    background-color: #ce4a55;
}

.button_overlay
{
    position:absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}